@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
body,
html {
  background-color: #121212;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-bg-grad {
  background: linear-gradient(to bottom, #121212, transparent);
}

.header-anim {
  animation-name: header_anim;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes header_anim {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 100%;
  }

  60% {
    opacity: 100%;
  }

  100% {
    opacity: 0;
  }
}
